html,
body {
  max-width  : 100vw;
  overflow-x : hidden;
  padding-top: 30px;
}

body {
  background-color: rgb(20, 0, 41);
}

a {
  color          : inherit;
  text-decoration: none;
}

label {
  color: white !important;
}

.shorter-input {
  width: 60px !important;
}

.shortish-input {
  width: 70px !important;
}

.short-input {
  width: 100px !important;
}

.input-standard {
  width: 100px !important;

}

.dropdown-text {
  text-overflow: ellipsis;
  white-space  : nowrap;
  overflow     : hidden;
  max-width    : 100px !important;
}

textarea {
  width: 500px !important;
}